doctype html
html(ng-app='app', lang='ru')
head
    base(href="/books-catalog/")
    meta(charset="UTF-8")
    link(href='app/dist/vendor.min.css', rel='stylesheet', media='all')
    link(href='app/dist/app.min.css', rel='stylesheet', media='all')
    script(src='app/dist/vendors.min.js')
    script(src='app/dist/app_templates.js')
    script(src='app/dist/app.min.js')
    title Books Catalog
body
    div(ui-view)